<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>libdispatch mp resolved.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>libdispatch no resolver.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>libdispatch up resolved.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>libdispatch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>libdispatch_Sim.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>libdispatch_tools.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3F3C9326128E637B0042B1F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C927F35A10FD7F0600C5AB8B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2AAC045055464E500DB518D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E49F24A9125D57FA0057C971</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4EC118F12514302000DDBD1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4EC121612514715000DDBD1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
